html {
	font-family:"Segoe UI";
}

body {
	background-color: #2FCD85;
	margin: 0;
}

header {
	font-size:3em;
	margin-bottom:20px;
	font-weight:400;
}

a{
	text-decoration:none;
}

label {
	display:block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input {
	outline:none;
	margin:5px 0px;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    color: #676363;
	padding:5px 0px;
	font-size:15px;
	width:100%;
	font-family:"Segoe UI";
}

input::-webkit-input-placeholder {
	color:#d0d0d0;
}

input::-moz-placeholder {
	color:#d0d0d0;
}

input::-ms-input-placeholder {
	color:#d0d0d0;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.box {
	width: 600px;
	margin: auto;
	background-color: white;
	position:relative;
}

.box-border {
	border: 1px solid #c5c5c5;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.box-form {
	margin:20px;
	padding:20px;
	display:table;
}

.next {
	outline:none;
	cursor:pointer;
	margin:10px 0px;
    border: none;
    color: aliceblue;
	padding:20px;
	border-radius:45px;
	background-color:#4141ea;
	font-size:25px;
	width:200px;
}

.next:hover {
	background-color:#0000da;
	transition:background-color .35s;
}

.left-block {
	float:left;
	width:50%;
}

.right-block {
	float:right;
	width:40%;
	text-align:center;
	margin-top:50px;
}

.input-not-pass{
	margin:5px 0px 20px;
}

.label-pass {
	font-size:14px;
	cursor:pointer;
	float:right;
	color:#d0d0d0;
}

.label-pass-clicked{
	color:#2FCD85;
}

.input-error {
	border-color:red;
	color:red;
}

.label-input-error {
	color: rgba(255, 60, 60, 0.9);
	font-size: 14px;
	font-weight: normal;
	text-align:center;
	margin-top:30px;
	clear:both;
}

.x-label {
	position:absolute;
	right:0;
	color:gray;
	cursor:pointer;
	float:right;
	margin:15px 25px;
	font-size:25px;
}

.x-label:hover {
	color:black;
	transition:all .35s;
}

.seta-direita {
	display:inline-block;
	margin-left:10px;
	vertical-align:middle;
	width: 15px;
	height: 2px;
	background-color:aliceblue;
}

.seta-direita::after {
	content:'';
	display:block;
	width: 0;
	height: 0;
	font-size: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 8px solid aliceblue;
	margin-left:15px;
	margin-top:-3px;
}

.lable-login {
	color:gray;
	font-size:13px;
}

.a-login {
	color:blue;
}

@keyframes resposta {
    0% {margin-top:-50px;opacity:0;}
    100% {margin-top:10px;opacity:1;}
}

.resposta {
	width:600px;
	animation-iteration-count:1;
	margin:10px auto;
	animation-name: resposta!important;
	animation-timing-function: ease!important;
	animation-duration: .5s!important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor:default;
	align-items:center;
}

.respos {
	font-weight:bold;
	padding:15px;
	background-color:red;
	border-radius:4px;
	color:cornsilk;
	border:1px;
	border-style:dashed;
	box-sizing:border-box;
	text-align:center;
}

.respostapos {
	background-color:mediumseagreen!important;
}